/** @format */

* {
    padding: 0;
    margin: 0;
    font-family: "Century Gothic", sans-serif;
}

body {
    /* background-color: #f1f3fb; */
}

a {
    text-decoration: none;
}

/* Toggle button color fix */

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure the navbar is above other content */
}

.navbar-toggler {
    border: none;
    background-color: #f8f9fa; /* Light background for toggle */
}

/* navbar book button */

.navbar_book_btn {
    width: fit-content;
    border-radius: 0px;
    color: #663c12;
    border: 1px solid #663c12;
}

.navbar_book_btn:hover {
    background-color: #663c12;
    border: 1px solid #663c12;
    color: #fff;
}

/* navbar book button */

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 3000;
}

.side-nav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #663c12;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #000;
}

.side-nav .close-btn {
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 36px;
    background: none;
    color: #000;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .topbar-content {
        display: none;
    }
}

/*  hero section */
/* Hero Section */
.hero_section {
    background-image: url("../images/Motohom_Flagship_Caravans/Other_images/carousel_img_1.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center;
    position: relative;
}

.hero_section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.563); /* Dark overlay */
    z-index: 0;
}

.hero_section .container {
    position: relative;
    z-index: 1;
}

.hero_section .highlight-text {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
}

/* Booking Form Styling */
.hero_section_form {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    color: white;
    padding: 20px;
    z-index: 1;
}

.hero_section_form #bookingForm label {
    color: white;
    font-size: 1rem;
}

.hero_section_form #bookingForm .form-control,
.hero_section_form #bookingForm .form-select {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.hero_section_form #bookingForm .form-control:focus,
.hero_section_form #bookingForm .form-select:focus {
    background-color: rgba(255, 255, 255, 0.3);
    border-color: white;
    outline: none;
    color: white;
}

.hero_section_form #bookingForm button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 100%;
    transition: all 0.3s ease;
}

.hero_section_form #bookingForm button:hover {
    background-color: white;
    color: black;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .hero_section {
        height: auto; /* Adjust height for smaller screens */
        padding: 20px 10px;
        flex-direction: column;
    }

    .hero_section .highlight-text {
        font-size: 1.8rem; /* Reduce font size */
        text-align: center;
    }

    .hero_section_form {
        margin-top: 20px;
        width: 100%;
        padding: 15px;
    }

    .hero_section_form #bookingForm button {
        width: 100%; /* Full width button for mobile */
    }

    .hero_section .text-white {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .hero_section .highlight-text {
        font-size: 1.5rem; /* Further reduce font size for small screens */
    }

    .hero_section_form {
        padding: 10px;
    }

    .hero_section_form #bookingForm button {
        margin-top: 10px;
    }
}

/*  hero section */

header .custom-margin {
    margin-left: 100px;
}

/* this is the popup form code for book button */

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    max-height: 600px;
    overflow: auto;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: rgb(253, 253, 253);
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 99999999;
    border-radius: 8px;
    /* border: 1px solid #000; */
}

.popup::-webkit-scrollbar {
    width: 0px;
}

.popup.active {
    display: block;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.popup-overlay.active {
    display: block;
}

/* this is the pop form code for book button */

/* this is the download guide pop from  */

.download-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    max-height: 600px;
    overflow: auto;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: rgb(253, 253, 253);
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 99999999;
    border-radius: 8px;
}

.download-popup.active {
    display: block;
}

.download-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.download-popup-overlay.active {
    display: block;
}

/* this is the download guide pop from  */

@media (max-width: 600px) {
    .popup {
        width: 320px;
    }

    .download-popup {
        width: 320px;
    }
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
    header #introCarousel {
        margin-top: -58.59px;
    }
}

.mask h1 {
    font-size: 70px;
    font-weight: 700;
}

.mask p,
i {
    font-size: 20px;
    font-weight: 600;
}

.tour-banner-heading {
    font-size: 50px;
    font-weight: 200;
}

.navbar .nav-link {
    color: #663c12 !important;
}

/* .bookNowBtn {
    color: #663c12;
    border: 1px solid #663c12;
} */

.top-header {
    background-color: #663c12;
    color: white;
}

.top-bar a {
    color: white;
    /* margin-right: 20px; */
}

.hero-select {
    background-color: #efeded;
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
}

.view-all-boat-btn {
    border-radius: 0px;
    background-color: transparent;
    border: 2px solid black;
    padding: 15px 60px 15px 60px;
    /* color: white; */
}

.section-advantages {
    margin-top: 80px;
}

.lightbox .close {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: #fff;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

/* this css from the pop window for open images */

.modal-dialog-centered {
    width: 50%;
}

@media (max-width: 500px) {
    #imageModal .modal-dialog {
        /* max-width: 100%;
        margin: 10px; */
        width: 100%;
        margin: auto;
    }
    #imageModal .btn-close {
        font-size: 1.5rem;
    }
}

/* this css from the pop window for open images */

/* **************** */

/* card carousel */

#about {
    margin-top: 90px;
}

.card {
    margin-bottom: 30px;
    position: relative;
}

.card-img-top {
    height: 300px;
    object-fit: fill;
}

#carousel_card1,
#carousel_card2,
#carousel_card3,
#carousel_card3_1,
#carousel_card4 {
    height: 300px;
    /* border: 2px solid black; */
}

.card-body {
    /* Text alignment for smaller screens */
    text-align: left;
}

/* Make card text responsive */
.card-body .card-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    /* color: #17b3ee; */
    font-weight: 600;
    /* letter-spacing: 0.1px; */
}

.card-body .card-text {
    font-size: 1rem;
    line-height: 1.5;
}

.carousel .carousel-item {
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

@media (max-width: 768px) {
    .card-body .card-title {
        font-size: 1.1rem;
    }

    .card-body .card-text {
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {
    .card-body .card-title {
        font-size: 1rem;
    }

    .card-body .card-text {
        font-size: 0.85rem;
    }
}

/* Hide carousel controls by default */
.card .carousel-control-prev,
.carousel-control-next {
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Show carousel controls on card hover */
.card:hover .carousel-control-prev,
.card:hover .carousel-control-next {
    opacity: 1;
}

/* card carousel */

.b-main-filter__selector .ui-select {
    height: 59px;
    padding-top: 19px;
    padding-bottom: 19px;
}
/* 
.b-main-filter__checkbox-item {
    display: inline-block;
    margin-right: 20px;
} */

.b-main-filter .form-group {
    margin-bottom: 15px;
}

.b-main-filter .ui-title {
    position: relative;
}
.b-main-filter .ui-select {
    background-color: #f2f6f7;
}

.b-main-filter-content {
    padding: 55px 50px 70px;
    background-color: #fff;
    box-shadow: 0 5px 35px 5px rgba(0, 0, 0, 0.12);
    margin-top: -170px;
    position: relative;
    z-index: 88;
    margin-bottom: 80px;
}

.b-advantages {
    display: flex;
    /* height: 250px; */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    flex: 1; /* Ensures all cards take the same height */
}

.b-advantages:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.b-advantages__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; /* Makes sure content inside stretches appropriately */
}

.b-advantages__title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #4a2c2a;
    margin-bottom: 10px;
}

.b-advantages__info {
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: #4a2c2a;
}

.advantages-icon {
    font-size: 50px;
    color: #4a2c2a;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.b-advantages:hover .advantages-icon {
    transform: scale(1.2); /* Zooms the icon to 120% of its original size */
    transition: transform 0.3s ease; /* Ensures smooth scaling transition */
}

.decore01 {
    width: 50px;
    height: 3px;
    background-color: #4a2c2a;
    margin: 10px auto;
    border-radius: 2px;
}

.decore01 {
    /* background: url("https://images.unsplash.com/photo-1508045214681-31012927cc98?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat; */
    background: url("https://pro-theme.com/html/nevica/assets/img/decore01.png") no-repeat;
    height: 18px;
    width: 66px;
    background-position: 0px 7px;
}

/* *******banner section */

.section-goods__inner {
    background-image: url("https://images.unsplash.com/photo-1583872958183-1ea5ed461f04?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    /* background-image: url("https://img.freepik.com/free-vector/tourists-are-equipped-with-equipment-carry-bicycles-their-cars-go-scenic-ride-tourist-attractions-flat-vector-illustration-design_1150-56737.jpg?t=st=1734173221~exp=1734176821~hmac=16b30a3d581455939c99a20a953bd680a46d15d1c496e75afd6b6c61d45a8b2e&w=1380"); */
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.304);
    margin-top: 60px;
    z-index: 1;
}

.section-goods__inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.873); /* Adjust opacity as needed */
    z-index: -1; /* Places the overlay behind the content */
}

.section-goods__list {
    margin-top: -65px;
    padding-bottom: 100px;
}

.view-all-boats {
    /* background-color: red;
    width: fit-content;
    margin: auto; */
    margin: auto;
    margin-top: 50px;
    /* padding: 10px 30px 10px 30px; */
}

.b-goods__title {
    display: block;
    min-height: 42px;
    padding-top: 2px;
    font: 700 18px / 1.2 Montserrat;
    color: #222;
}

/* .banner_box {
    border: 2px solid red;
} */

.no-gutters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.type-main-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.type-box {
    text-decoration: none;
    color: #252525;
    font-size: 18px;
    font-weight: 600;
}

.price {
    display: inline-block;
    font-weight: 800;
    color: #30a8d5;
}

.type-left-box {
    text-align: end;
    /* background-color: red; */
}

.card-perday {
    font-size: 12px;
    color: #666666;
    font-weight: 500;
    display: inline-block;
    width: 100%;
}

.deal-section {
    background-color: #17b3ee;
}

.deal-right-sectioin {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.progress-section {
    /* margin-top: 20px; */
    background-image: url("https://pro-theme.com/html/nevica/assets/img/bgmap.png");
    background-repeat: no-repeat;
    background-position: center;
    /* background-image: url("https://pro-theme.com/html/nevica/assets/img/bgmap.png") no-repeat; */
}

.progress-section-cards {
    margin-top: 50px;
}

.progress-section-card1 {
    background-color: #8f38e8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
    /* margin-top: -40px; */
}

.progress-icon-1 {
    font-size: 50px;
}

.progress-section-card2 {
    background-color: #cfbc70;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
    /* margin-top: 10px; */
}
.progress-section-card3 {
    background-color: #0ecdc2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;

    /* margin-top: -40px; */
}
.progress-section-card4 {
    background-color: #dd5454;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;

    /* margin-top: 10px; */
}
.progress-section-card5 {
    background-color: #007bffec;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;

    /* margin-top: 10px; */
}

/* Common styles for all cards */
.progress-section-card1,
.progress-section-card2,
.progress-section-card3,
.progress-section-card4,
.progress-section-card5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    align-items: center;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and box-shadow */
}

/* Hover effect for all cards (move the card up) */
.progress-section-card1:hover,
.progress-section-card2:hover,
.progress-section-card3:hover,
.progress-section-card4:hover,
.progress-section-card5:hover {
    transform: translateY(-8px); /* Lift the card slightly */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); /* Add soft shadow */
}

/* Hover effect for icons inside the cards (scale the icon) */
.progress-section-card1:hover .cr-counters__icon i,
.progress-section-card2:hover .cr-counters__icon i,
.progress-section-card3:hover .cr-counters__icon i,
.progress-section-card4:hover .cr-counters__icon i,
.progress-section-card5:hover .cr-counters__icon i {
    transform: scale(1.5); /* Increase icon size */
    /* font-size: 60px; */
}

/* ********************card slider */

/* .tour-banner {
    background-image: url("https://images.pexels.com/photos/28639031/pexels-photo-28639031/free-photo-of-nighttime-camping-scene-with-campfire-and-van.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-top: 50px;
}

.tour-right-box {
    width: 100px;
    height: 100px;
    background-color: #30a8d5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tour-right-box .play-icon {
    font-size: 40px;
    color: white;
} */

.gallery-section {
    margin-top: 80px;
    /* border: 2px solid red; */
}

.picture_gallary_img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* transition: transform 0.3s ease-in-out; Smooth transition for the zoom effect */
}

.picture_gallary_img:hover {
    transform: translateY(-5px); /* Hover पर थोड़ा ऊपर उठे */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* हल्का शैडो */

    /* transform: scale(0.9); Slightly increases the size of the image */
}

.modal-body {
    overflow: hidden;
    max-width: 100%;
    position: relative;
}

#modalImage {
    cursor: grab; /* Cursor style for drag */
    transition: transform 0.3s ease; /* Smooth transition for zoom */
}

/* customization */

.customization-section {
    /* background-color: #f8f9fa; Light grey background */
    margin-top: 80px;
}

.customization-section .section-title {
    font-size: 2rem;
    font-weight: bold;
    color: #343a40; /* Dark grey */
}

.customization-section .section-description {
    font-size: 1.1rem;
    color: #6c757d; /* Muted grey */
    margin-bottom: 1rem;
}

.customization-section .card {
    /* border: 1px solid gray; Remove default border */
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: transform 0.3s ease;
    /* background-color: ; */
    padding: 10px 0;
}

.customization-section .card:hover {
    transform: translateY(-5px); /* Lift effect */
    /* box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); Soft shadow */
}

.customization-section .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #4a2c2a; /* Bootstrap primary color */
}

.customization-section .card-text {
    font-size: 0.95rem;
    color: #4a2c2a; /* Muted grey */
}

.customization-section .card i {
    color: #4a2c2a;
    transition: transform 0.3s ease, color 0.3s ease;
}

.customization-section .card:hover i {
    transform: scale(1.2); /* Hover effect for icons */
    color: #432623; /* Change icon color */
}

/* customization */

/* form */

#form-section input {
    appearance: none;
    border-radius: 0;
}

#form-section .card {
    /* margin: 2rem auto; */
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    /* box-shadow: 0 10px 20px 0 rgba(#999, 0.25); */
    padding: 0.75rem;
}

#form-section .card-image {
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 45%; /* Reduce padding to make the image smaller */
    background-image: url("https://img1.wallspic.com/crops/4/4/0/7/27044/27044-camping-van-vacation-cloud-sand-3840x2160.jpg");
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.21);
    background-size: cover;
    background-position: center; /* Center the image for better view */
    position: relative;
}

#form-section .card-heading {
    position: absolute;
    left: 5%;
    top: 15%;
    right: 10%;
    font-size: 1.75rem;
    font-weight: 700;
    color: #fff;
    line-height: 1.222;
}

#form-section .card-heading small {
    display: block;
    font-size: 0.75em;
    font-weight: 400;
    margin-top: 0.25em;
}

#form-section .card-form {
    padding: 2rem 1rem 0;
}

#form-section .input {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-top: 1.5rem;
}

#form-section .input + .input {
    margin-top: 1.5rem;
}

#form-section .input-label {
    color: #454a4e;
    /* position: absolute; */
    /* top: 1.5rem; */
    transition: 0.25s ease;
}

#form-section .input-field {
    border: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 2px solid #eee;
    font: inherit;
    font-size: 1.125rem;
    padding: 0.25rem 0;
    width: 100%;
}

#form-section .action {
    margin-top: 2rem;
}

#form-section .card-info {
    padding: 1rem 1rem;
    text-align: center;
    font-size: 0.875rem;
    color: #8597a3;
}

#form-section .card-info a {
    display: block;
    color: #6658d3;
    text-decoration: none;
}

@media (max-width: 767px) {
    #form-section .card {
        max-width: 100%;
        padding: 1rem;
    }

    #form-section .card-image {
        padding-bottom: 75%;
    }

    #form-section .card-heading {
        font-size: 1.5rem;
    }
}

/* form */

/* ********************card slider */

.what-people-say {
    background-image: url("https://images.pexels.com/photos/11143627/pexels-photo-11143627.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-top: 50px;
    padding: 30px 0;
}

.whatpeoplesay_card {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.whatpeoplesay_card h5 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.whatpeoplesay_card p {
    font-style: italic;
}

.what-people-say .carousel-inner {
    height: fit-content;
    max-height: 300px;
}

@media (max-width: 768px) {
    .whatpeoplesay_card h5 {
        font-size: 18px;
    }

    .whatpeoplesay_card p {
        font-size: 14px;
    }
}

.what-people-say .review-stars {
    color: #ffd700; /* Gold color for stars */
    font-size: 1.2rem; /* Adjust size as needed */
}
.what-people-say .review-stars .fa-star {
    margin-right: 4px; /* Spacing between stars */
}

/* news-section*****************************/

.news-section {
    margin-top: 50px;
    /* background-color: #30a8d5; */
}

/* news-section*****************************/

/* responsive */

@media (max-width: 700px) {
    .mask h1 {
        /* color: red; */
        font-size: 40px;
    }

    .tour-banner-heading {
        font-size: 40px !important;
    }

    .deal-right-sectioin .info-section .info_box {
        flex-direction: column;
        margin-top: 10px;
    }
    .deal-right-sectioin .info-section .info_box span {
        text-align: center;
    }
}

.download-btn-container {
    background-color: #663c12;
    position: fixed;
    right: 0px; /* Adjust distance from the right side */
    bottom: 34%; /* Adjust distance from the bottom */
    z-index: 999; /* Ensure it's on top of other content */
}

.download-btn-container a {
    color: #fff;
    writing-mode: vertical-rl; /* Make text vertical */
    text-align: center;
    padding: 10px;
}

.download-btn-container a:hover {
    color: #fff;
}

/* .downloadBtn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.375rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    color: #212529;
    background-color: transparent;
    color: #fff;
    border-color: #212529;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    width: -moz-fit-content;
    width: fit-content;
} */
.downloadBtn:hover {
    color: #fff !important;
}

.downloadBtnHero a:hover {
    color: #000 !important;
}

@media (max-width: 770px) {
    .footer-logo {
        max-width: 250px;
    }
}

/* whatsapp icon */

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.whatsapp-icon:hover {
    background-color: #1ebe57;
    color: white;
    text-decoration: none;
}

/* whatsapp icon */
